<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jQuery.js"></script>
</head>
<body>
<div class="top">当前位置：系统&nbsp;>&nbsp;班级信息
</div>
<div class="con">
    <table>
        <tr><th>搜索</th></tr>
        <tr>
            <td>
                班级：<input type="text" placeholder="请输入班级名...">
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="导入" class="btn">
                <input type="button" value="添加" class="btn btn1">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>ID</th><th>年级</th><th>班级</th><th>课程</th><th>代课老师</th><th>操作</th>
        </tr>
        {%  for item in date %}
                <tr>
                    <td class="changonly">{{ item.cnum }}</td>
                    <td >{{ item.gname }}</td>
                    <td  >{{ item.cname }}</td>
                    <td  >{{ item.staname }}</td>
                    <td  >
                        {{ item.tname }}
                    </td>
                    <td><span class="btn2" onclick="editclass({{ item.cnum }})">编辑</span>&nbsp;&nbsp;&nbsp;<a href="/classdele/?id={{item.cnum}}">删除</a></td>
                </tr>
                {% endfor %}
{#        <tr>#}
{#            <td>01</td>#}
{#            <td>一年级</td>#}
{#            <td>UAIF-1805</td>#}
{#            <td>英语</td>#}
{#            <td>康艳艳</td>#}
{#            <td><span class="btn2">编辑</span>&nbsp;&nbsp;&nbsp;<a href="">删除</a></td>#}
{#        </tr>#}
    </table>
    {% autoescape off %}
        {{ str }}
    {% endautoescape %}
    <form action="/classadd/" method="post">
    <div class="box">
        <div class="top">当前位置：班级信息&nbsp;>&nbsp;添加
            <div class="cha">X</div>
        </div>
        <div class="cen">
            班级：<input type="text" name="cname"><br>
            年级：
             <select name="gid" id="gid">
                <option value="" disabled selected>请选择年级：</option>
            </select><br>
            课程：
            <select  name="staid" id="staid" >
                <option value="" disabled selected>请选择课程：</option>
            </select><br>
            老师：
            <select name="tnum" id="tnum">
                <option value="" disabled selected>请选择老师：</option>
            </select><br>
            <input type="submit" value="提交" class="submit">
            <input type="button" value="取消" class="no">
        </div>
        <div style="display:block;width: 300px;height:100px;border: 1px solid #0f0f0f " class="innde"></div>
        <input type="hidden" value="" name="info">
    </div>
    </form>

    <form action="/classedit/" method="post">
    <div class="box1">
        <div class="top">当前位置：班级信息&nbsp;>&nbsp;编辑
            <div class="cha">X</div>
        </div>

        <div class="cen">
            <input type="hidden" name="cnum" class="cnum">
            班级：<input type="text" name="cname" class="cname"><br>
            年级：
             <select name="gid" class="gid">

            </select><br>
            课程：
            <select  class="staid" name="staid">
{#                <option value="" disabled selected>请选择课程：</option>#}
            </select><br>
            老师：
            <select name="tnum" class="tnum">
{#                <option value="" disabled selected>请选择老师：</option>#}
            </select><br>
            <div style="display:block;width: 300px;height:100px;border: 1px solid #0f0f0f " class="innde1"></div>
            <input type="hidden" value="" name="info1" class="info">
            <input type="submit" value="提交" class="submit1">
            <input type="button" value="取消" class="no">
        </div>
    </div>
    </form>
</div>
</body>
<style>
html{
    position: relative;
}
.top{
    width: 100%;height: 56px;border-bottom: 1px solid #DDDDDD;
    color: #8A8A8A;font-size: 14px;line-height: 56px;
}
.box .top .cha{
    width: 30px;height:48px;float: right;text-align: center;font-size: 20px;color: #8A8A8A;cursor: pointer;
}
.box1 .top .cha{
    width: 30px;height:48px;float: right;text-align: center;font-size: 20px;color: #8A8A8A;cursor: pointer;
}
.con{
     width: 100%;height:auto;
}
table{
    width: 100%;height:auto;border-collapse: collapse;
}
th{
    border-right: 1px solid #ECECEC;
}
tr{
    background-color: #0055C4;color: white;font-size: 14px;height: 40px;width: 100%;
}
td{
    width:auto;height: 40px;background-color: white;color: #909090;
    border: 1px solid #ECECEC;padding-left: 10px;text-align: center;
}
.btn{
    width:70px;height:25px;float: right;margin-right: 15px;
}
a,span{
  color: #909090;text-decoration:none;cursor: pointer;
}
.box{
    width: 730px;height: 440px;padding-right: 10px;background-color: white;display:none;
    position:absolute;left:180px;top:95px;padding-left: 10px;box-shadow: 0px 0px 8px #303030;
}
.box .cen{
    width:480px;height:323px;padding-left:250px;
    font-size: 14px;padding-top:50px;
}

.box input,select{
    margin-bottom:30px;
}
.box .submit{
    margin-right:60px;margin-left:25px;width:60px;
}
.box .no{
    width:60px;
}
.box1{
    width: 730px;height: 440px;padding-right: 10px;background-color: white;display:none;
    position:absolute;left:180px;top:95px;padding-left: 10px;box-shadow: 0px 0px 8px #303030;
}
.box1 .cen{
    width:480px;height:323px;padding-left:250px;
    font-size: 14px;padding-top:50px;
}

.box1 input,select{
    margin-bottom:30px;
}
.box1 .submit{
    margin-right:60px;margin-left:25px;width:60px;
}
.box1 .no{
    width:60px;
}
</style>

<script>
    $(".btn1").click(function () {
        $(".box").css({"display":"block"});
        $.ajax({
            url:"/classadd/",
            data:{abc:"123"},
            dataType:"json",
            success(date){
                console.log(date)
                str=`<option value="" selected>请选择年级：</option>`
                for(var item in date){
                    str+=`<option value="${date[item].gid}" >${date[item].gname}</option>`
                }
                $("select[name=gid]").html(str)
            }
        })
    })
    $(".btn2").click(function () {
        $(".box1").css({"display":"block"});
    })
    $(".cha").click(function () {
        $(".box").css({"display":"none"});
    })
     $(".no").click(function () {
        $(".box").css({"display":"none"});
    })
     $(".submit").click(function () {
        $(".box").css({"display":"none"});
        $("input[type=hidden]").val(JSON.stringify(obj))
    })
     $(".submit1").click(function () {
        $(".box1").css({"display":"none"});
    })
    {#数据处理#}
    obj={}
    $("#gid").change(function () {
        //处理年级请求
        var gid=$(this).val()
        data=""
        data+="gid="+gid
        console.log(data);
        $.ajax({
            type:"post",
            url:"/grade/",
            data:data,
            dataType:'json',
            success:function (data) {
              //staids: "xueke-01,xueke-02", stanames: "语文,数学"
                // "xueke-01', "语文"
                // "xueke-01', "语文"
                // 'xueke-02","数学"
                if (data){
                    var keys=data["staids"].split(",")
                    var vals=data["stanames"].split(",")
                    arr={}
                    for(var i in keys){
                        arr[keys[i]]=vals[i]
                    }
                    options='<option value="0" >请选择科目</option>'
                    for(var i in arr){
                        options+=`<option value="${i}" >${arr[i]}</option>`
                    }
                    $("#staid").html(options)
                    //教师
                    $('#staid').change(function () {
                        var staid=$(this).val()
                         $.ajax({
                            type:"post",
                            url:"/stage/",
                            data:{staid:staid},
                            dataType:"json",
                            success(data){
                                if (data){
                                    $('#tnum').removeAttr("disabled")
                                    var keys=[]
                                    var vals=[]
                                    for (var i in data){
                                        keys.push(data[i]["tunion"].split(","))
                                        vals.push(data[i]["tname"].split(","))
                                    }
                                    //UAIF-03,UAIF-04,
                                    // 康爷也,李治河,
                                    arr={}
                                    for(var i in keys){
                                        arr[keys[i]]=vals[i]
                                    }
                                    options='<option value="0" >请选择教师</option>'
                                    for(var i in arr){
                                        options+= `<option value="${i}" >${arr[i]}</option>`
                                    }
                                    $('#tnum').html(options)

                                    //添加数据
                                    $("#tnum").change(function () {
                                        var staid=$("select[name=staid]").select().val()

                                        var tnum=$("select[name=tnum]").val()
                                        var staname=$("select[name=staid]").find("option:eq("+$("select[name=staid]")[0].selectedIndex+")").html()
                                        var tname=$("select[name=tnum]").find("option:eq("+$("select[name=tnum]")[0].selectedIndex+")").html()
                                        console.log(staid,tnum,staname,tname)
                                        newobj={}
                                        newobj.staid=staid
                                        newobj.staname=staname
                                        newobj.tnum=tnum
                                        newobj.tname=tname
                                        obj[staid]=newobj
                                        list=""
                                        for(var item in obj){
                                            list+=`<li>${obj[item]['staname']}-${obj[item]['tname']}<span attr="${obj[item]['staid']}" style="padding:10px">X</span></li>`
                                        }
                                        $(".innde").html(list)
                                    })
                                }else {
                                     $('#tnum').attr("disabled")
                                    $("#tnum").html("")
                                }
                            }
                        })
                    })
                } else {
                    $('#staid').attr("disabled")
                    $("#staid").html("")
                }
            }
        })
    })
    $(".innde").on("click","span",function () {
        staid=$(this).attr("attr")
        console.log(staid);
        $(this).parent().remove()
        for (var item in obj){
            console.log(item)
            if (item==staid){
                delete obj[item]
            }
        }
    })
    $(".cha").click(function () {
        $(".box1").css({"display":"none"});
    })
     $(".no").click(function () {
        $(".box1").css({"display":"none"});
    })
     function editclass(id) {
        $.ajax({
            url:"/classedit/",
            data:{id:id},
            dataType:"json",
            success(e){
                 $("input[class=cnum]").attr("value",e.cnum);
                 $("input[class=cname]").attr("value",e.cname)
            }
        })
     {#    fetch("/classedit/?id=" + id,).then((e) => {#}
     {#        return e.json()#}
     {#    }).then((e) => {#}
     {#        #}
     {#    })#}
     }
{#编辑的#}
    function editclass(id) {
        $(".box1").css({"display":"block"});
         $.ajax({
            url:"/classadd/",
            data:{abc:"123"},
            dataType:"json",
            success(date){
                console.log(date)
                str=`<option value="" selected>请选择年级：</option>`
                for(var item in date){
                    str+=`<option value="${date[item].gid}" >${date[item].gname}</option>`
                }
                $("select[name=gid]").html(str)
            }
        });
         $.ajax({
            url:"/classedit/",
            data:{id:id},
            dataType:"json",
            success(e){
                 $("input[class=cnum]").attr("value",e.cnum);
                 $("input[class=cname]").attr("value",e.cname)
            }
        })
    }
    var obj={}
    $(".gid").change(function () {
        //处理年级请求
        var gid=$(this).val()
        data=""
        data+="gid="+gid
        console.log(data);
        $.ajax({
            type:"post",
            url:"/grade/",
            data:data,
            dataType:'json',
            success:function (data) {
              //staids: "xueke-01,xueke-02", stanames: "语文,数学"
                // "xueke-01', "语文"
                // "xueke-01', "语文"
                // 'xueke-02","数学"
                console.log(data)
                if (data){
                    var keys=data["staids"].split(",")
                    var vals=data["stanames"].split(",")
                    arr={}
                    for(var i in keys){
                        arr[keys[i]]=vals[i]
                    }
                    options='<option value="0" >请选择科目</option>'
                    for(var i in arr){
                        options+=`<option value="${i}" >${arr[i]}</option>`
                    }
                    $(".staid").html(options)
                    //教师
                    $('.staid').change(function () {
                        var staid=$(this).val()
                         $.ajax({
                            type:"post",
                            url:"/stage/",
                            data:{staid:staid},
                            dataType:"json",
                            success(data){
                                if (data){
                                    var keys=[]
                                    var vals=[]
                                    for (var i in data){
                                        keys.push(data[i]["tunion"].split(","))
                                        vals.push(data[i]["tname"].split(","))
                                    }
                                    //UAIF-03,UAIF-04,
                                    // 康爷也,李治河,
                                    arr={}
                                    for(var i in keys){
                                        arr[keys[i]]=vals[i]
                                    }
                                    options='<option value="0" >请选择教师</option>'
                                    for(var i in arr){
                                        options+= `<option value="${i}" >${arr[i]}</option>`
                                    }
                                    $('.tnum').html(options)

                                    //添加数据
                                    $(".tnum").change(function () {
                                        var staid=$("select[class=staid]").select().val()
                                        var tnum=$("select[class=tnum]").val()
                                        var staname=$("select[class=staid]").find("option:eq("+$("select[class=staid]")[0].selectedIndex+")").html()
                                        var tname=$("select[class=tnum]").find("option:eq("+$("select[class=tnum]")[0].selectedIndex+")").html()
                                        console.log(staid,tnum,staname,tname)
                                        var newobj={}
                                        newobj.staid=staid
                                        newobj.staname=staname
                                        newobj.tnum=tnum
                                        newobj.tname=tname
                                        obj[staid]=newobj
                                        console.log(obj)
                                        list=""
                                        for(var item in obj){
                                            list+=`<li>${obj[item]['staname']}-${obj[item]['tname']}<span attr="${obj[item]['staid']}" style="padding:10px">X</span></li>`
                                        }
                                        {#$("input[class=info]")#}
                                        $(".innde1").html(list)
                                    })
                                }else {
                                    $(".tnum").html("")
                                }
                            }
                        })
                    })
                } else {
                    $(".staid").html("")
                }
            }
        })
    })
     $(".submit1").click(function () {
        $(".box1").css({"display":"none"});
         $("input[name=info1]").val(JSON.stringify(obj))
    })
    $(".innde1").on("click","span",function () {
        staid=$(this).attr("attr")
        console.log(staid);
        $(this).parent().remove()
        for (var item in obj){
            console.log(item)
            if (item==staid){
                delete obj[item]
            }
        }
    })
</script>
</html>