<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <script src="../static/js/jQuery.js"></script>
     <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
      <div class="piliang">
          <a href="/fileload">批量上传</a>
      </div>
      <div class="nav" style="margin: 20px">
          查询：<input type="text" class="searchmolu">
                <button type="button" class="btn">搜索一下</button>
          <br>
          年级：<div class="nianji">
                {% for item in result %}
                    <button value="{{ item.gid }}" class="searchgid" >{{ item.gname }}</button>
                {% endfor %}
                </div>
          学科：<div class="xueke">
                </div>
          题型：<div class="tiixng">
                {% for item in tixingres %}
                    <button value="{{ item.tyid }}" class="searchtix">{{ item.tyname }}</button>
                {% endfor %}
         <br> 提交：<button type="button" value="提交" class="searchsub">提交</button>
                </div>
      </div>
      <table  class="table table-bordered table-hover active">
            <tr class="table-title">
                <th >ID</th>
                <th >试题号</th>
                <th >年级</th>
                <th >学科</th>
                <th >题型</th>
                <th >题干</th>
                <th >选项</th>
                <th >答案</th>
                <th >操作</th>
            </tr>
            {%  for item in date %}
            <tr>
                <td class="changonly">{{ item.id }}</td>
                <td>{{ item.shitiid }}</td>
                <td>{{ item.gname }}</td>
                <td>{{ item.staname }}</td>
                <td>{{ item.tyname }}</td>
                <td>{{ item.tigan }}</td>
                <td>{{ item.opt }}</td>
                <td>{{ item.answer }}</td>
                <td class="changonly">
                    <a href="/stagedit/?id={{item.staid}}" style="text-decoration: none ;color: #5CA4D3; ">编辑  </a>
                    <a href="/stagedel/?id={{item.staid}}" style="text-decoration: none ;color: #5CA4D3">  删除</a>
                </td>
            </tr>
            {% endfor %}
      </table>
      <a href="/shitiadd">添加</a>
</body>
<script>
    var xuekeabc=""
    var searchtype=""  //这样var searchtype定义传值时是undefind
    var abc=""
    $(".searchgid").click(function () {
        abc=$(this).attr("value")
        $(".searchgid").css({color:'black'})
        $(this).css({color:'red'})
        $.ajax({
            url:"/grade/",
            type:"post",
            data:{gid:abc},
            {#根据年级查找学科#}
            dataType:"json",
            success(date){
                var keys=date["staids"].split(",")
                var vals=date["stanames"].split(",")
                arr={}
                for(var i in keys){
                    arr[keys[i]]=vals[i]
                }
                console.log(arr);
                xueke=""
                for(var item in arr){
                    xueke+= `<button value="${item}" id=btn>${arr[item]}</button>`
                }
                $(".xueke").html(xueke)
            }
        })
    })
    $(".searchtix").click(function () {
        $(".searchtix").css({color:'black'})
        $(this).css({color:'red'})
        searchtype=$(this).attr("value")
    })

    $(".xueke").on("click","button",function (e) {
        xuekeabc=$(this).attr("value")
        $("#btn").css({color:'black'})
        $(this).css({color:'red'})
    })
    $(".searchsub").click(function () {
        var parmas="gid="+abc+"&staid="+xuekeabc+"&tyid="+searchtype
        console.log(parmas)
        location.href="/shitisearch/?"+parmas
    })
    $(".btn").click(function () {
        var con=$(".searchmolu").val()
        location.href="/shitisearch/?con="+con
    })
</script>
</html>